<launch>
    <!-- Gazebo boş bir dünya başlat -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
  
    <!-- Rviz'i başlat -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>

    <!-- Robot kontrol node'unu çalıştır -->
    <node name="robot_controller" pkg="vize_sonrasi_odev" type="robot_controller.py" output="screen"/>

</launch>

